<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,10}}</string>
                <key>sourceSize</key>
                <string>{60,10}</string>
            </dict>
            <key>bird_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,92},{152,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,104}}</string>
                <key>sourceSize</key>
                <string>{152,104}</string>
            </dict>
            <key>bird_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{152,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,104}}</string>
                <key>sourceSize</key>
                <string>{152,104}</string>
            </dict>
            <key>bird_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,92},{152,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,104}}</string>
                <key>sourceSize</key>
                <string>{152,104}</string>
            </dict>
            <key>bird_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,92},{152,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,104}}</string>
                <key>sourceSize</key>
                <string>{152,104}</string>
            </dict>
            <key>bird_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,92},{152,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,104}}</string>
                <key>sourceSize</key>
                <string>{152,104}</string>
            </dict>
            <key>bird_big_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,92},{152,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,104}}</string>
                <key>sourceSize</key>
                <string>{152,104}</string>
            </dict>
            <key>bird_big_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,92},{152,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,104}}</string>
                <key>sourceSize</key>
                <string>{152,104}</string>
            </dict>
            <key>bird_middle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,92},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>bird_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,92},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>bird_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,92},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>bird_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,92},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>bird_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,92},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>bird_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,92},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>bird_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,92},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>bird_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bird_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bird_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bird_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bird_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bird_small_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bird_small_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>hunter_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{128,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,62}</string>
            </dict>
            <key>hunter_top_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>hunter_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>hunter_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>hunter_top_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>hunter_top_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,2},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>hunter_top_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>power_meter.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{172,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,20}}</string>
                <key>sourceSize</key>
                <string>{172,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cocohunt-hd.png</string>
            <key>size</key>
            <string>{1766,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2465359a48f4bda91dbbee0f3cb15cad:16d3a2268d64fb93d76f4b4cee4c480f:ead6cba78677f75bbf69a031c24ab301$</string>
            <key>textureFileName</key>
            <string>Cocohunt-hd.png</string>
        </dict>
    </dict>
</plist>
