<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>bridge_ew.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>bridge_ns.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>house1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>house2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>house3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>house4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>path_ew.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,104},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>path_ne.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,104},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>path_ns.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,104},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>path_nse.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,104},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>path_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,104},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>path_sew.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>path_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,206},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>road_nsew.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,206},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>road_se.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,206},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,206},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,206},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,206},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees13.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,308},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees14.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,308},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees15.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,308},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees16.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,308},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees17.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,308},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees18.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,308},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,410},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,410},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,410},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,410},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,410},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,410},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>trees9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>isometric_tileset.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2253a6a1c2cf4a366eb18c4fd4ad0fa1:1d483b9b0a1ce6b25c964052f295fdc8:20c1eb6997a58cf14e38c4286a83f48c$</string>
            <key>textureFileName</key>
            <string>isometric_tileset.png</string>
        </dict>
    </dict>
</plist>
