<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,88}}</string>
                <key>sourceSize</key>
                <string>{1136,88}</string>
            </dict>
            <key>physics_hunter_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,2},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,2},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,116},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,116},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_hunter_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,116},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>physics_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,116},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,116},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>physics_level-hd.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1bf484c3ada4ab92169c61024dee8a4:fba8b51ce2244b17cc2a064a56ca3156:1c329838cc76b7ed88c0b4ccb992cdbe$</string>
            <key>textureFileName</key>
            <string>physics_level-hd.png</string>
        </dict>
    </dict>
</plist>
